header {
  color: #FFFFFF;
  padding-top: 150px;
  width: 100%;
  height: 520px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #965f00;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png"); /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
