/* Nav bar CSS */
nav {
  background: #4056A1;
  color: #ffa500; 
  height: 120px;
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  position: fixed;
}

nav > span {
  color: #FFFFFF;
  flex-grow: 0;
  font-size: 36px;
  font-family: 'Bungee', cursive;  
}

nav > a {
  color: #FFFFFF;
}

.break {
  color: #FFFFFF;
  flex-basis: 100%;
  height: 0;
}

button {
  background: transparent;
  border: none;
  color: rgb(255, 165, 0);
}