.new-tweet {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  color: green;
}

.new-tweet button {
  background: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
}

.counter {
  color: red;
  align-items: flex-end;
  align-content: flex-end;
}

.textarea {
  flex: none;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  resize: none;
}